<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 접근 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 외부 저장소 접근 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app"
        android:label="묘집사"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myo_jib_sa"
        tools:targetApi="31">
        <activity
            android:name=".community.ManagerPageMissionActivity"
            android:exported="false" />
        <activity
            android:name=".community.ManagerPageByeActivity"
            android:exported="false" />
        <activity
            android:name=".community.ManagerPageEditActivity"
            android:exported="false" />
        <activity
            android:name=".community.ManagerPageActivity"
            android:exported="false" />
        <activity
            android:name=".community.WritePostingActivity"
            android:exported="false" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1350635755184504~2813602960" />

        <activity
            android:name=".schedule.CurrentMissionActivity"
            android:exported="false" />
        <activity
            android:name=".schedule.CreateScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".schedule.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".community.PostActivity"
            android:exported="false"
            android:label="@string/title_activity_post"
            android:theme="@style/Theme.Myo_jib_sa.NoActionBar"/>
        <activity
            android:name=".community.BoardFreeActivity"
            android:exported="false" />
        <activity
            android:name=".community.BoardArtActivity"
            android:exported="false" />
        <activity
            android:name=".community.BoardExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".community.missionCert.MissionCertificationActivity"
            android:label="Mission Certification Activity" >
        </activity>
        <activity
            android:name="com.example.myo_jib_sa.community.missionCert.MissionCertificationWriteActivity"
            android:label="MissionCertificationWriteActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>