<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.core.splashscreen" />
    <!-- 인터넷 접근 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 외부 저장소 접근 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.MyojibsaApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app"
        android:label="묘집사"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myo_jib_sa"
        tools:targetApi="31">
        <activity
            android:name=".community.ManagerImgActivity"
            android:exported="false" />
       <activity           
            android:name=".mypage.history.MypageHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MissionCertificationWriteCheckActivity"
            android:exported="false" />
        <activity
            android:name=".community.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".community.ManagerMissionCreateActivity"
            android:exported="false" />
        <activity
            android:name=".community.ManagerPageEditActivity"
            android:exported="false" />
        <activity
            android:name=".community.ManagerPageActivity"
            android:exported="false" />
        <activity
            android:name=".community.WritePostingActivity"
            android:exported="false" />
        <activity
            android:name=".schedule.currentMissionActivity.DeleteCurrentMissionActivity"
            android:exported="false" />
        <activity
            android:name=".mission.MissionCreateActivity"
            android:windowSoftInputMode="adjustPan" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- ${AD_APP_ID} Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${AD_APP_ID}" />

        <activity
            android:name=".schedule.currentMissionActivity.CurrentMissionActivity"
            android:exported="false" />
        <activity
            android:name=".schedule.createScheduleActivity.CreateScheduleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".schedule.historyActivity.FailedMissionActivity"
            android:exported="false" />
        <activity
            android:name=".schedule.historyActivity.SuccessMissionActivity"
            android:exported="false" />
        <activity
            android:name=".community.PostActivity"
            android:exported="false"
            android:label="@string/title_activity_post"
            android:theme="@style/Theme.Myo_jib_sa.NoActionBar" />
        <!--
        <activity
            android:name=".community.BoardFreeActivity"
            android:exported="false" />
        <activity
            android:name=".community.BoardArtActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".community.BoardExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".community.missionCert.MissionCertificationActivity"
            android:label="Mission Certification Activity" />
        <activity
            android:name=".community.missionCert.MissionCertificationWriteActivity"
            android:label="MissionCertificationWriteActivity" />
        <activity
            android:name=".login.AddEmailDialogActivity"
            android:exported="false"
            android:theme="@style/AppTheme.PopupActivity" />
        <activity
            android:name=".mypage.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".login.MyoSignUpActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".login.KakaoLoginActivity"
            android:exported="true"></activity>
    </application>

</manifest>