<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.core.splashscreen" />

    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Login.KakaoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app"
        android:label="묘집사"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myo_jib_sa"
        tools:targetApi="31">
        <activity
            android:name=".schedule.adapter.DeleteCurrentMissionActivity"
            android:exported="false" />
        <activity
            android:name=".mission.MissionWriteMissionActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1350635755184504~2813602960"/>

        <activity
            android:name=".schedule.currentMissionActivity.CurrentMissionActivity"
            android:exported="false" />
        <activity
            android:name=".schedule.CreateScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".schedule.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".community.BoardFreeActivity"
            android:exported="false" />
        <activity
            android:name=".community.BoardArtActivity"
            android:exported="false" />
        <activity
            android:name=".community.BoardExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".Login.AddEmailDialogActivity"
            android:exported="false"
            android:theme="@style/AppTheme.PopupActivity" />
        <activity
            android:name=".mypage.EditMypageActivity"
            android:exported="false" />
        <activity
            android:name=".Login.MyoSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Login.KakaoLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>